In [1]:
import pandas as pd
import numpy as np
import os
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns

from numpy import asarray
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, log_loss
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import accuracy_score, recall_score, precision_score, mean_squared_error, mean_absolute_error
from sklearn.metrics import classification_report, log_loss

from sb_utils import save_file

In [2]:
cust_data = pd.read_csv('/Users/sweathanjasty/Desktop/Springboard/data/churners_cleaned.csv')

In [3]:
cust_data1 = cust_data.copy()

In [4]:
cust_data2 = cust_data1.copy()

In [5]:
#Select numerical and categorical

cust_data_num = cust_data1.select_dtypes(include=['int64', 'float64'])
cust_data_cat = cust_data1.select_dtypes(exclude=['int64', 'float64'])
cust_data_num = cust_data_num.iloc[:, 1:15]

In [6]:
cust_data_cat.sample()

,Attrition_Flag,Gender,Education_Level,Marital_Status,Income_Category,Card_Category
1837,Existing Customer,M,Unknown,Single,$40K - $60K,Blue

In [7]:
cust_data_cat.drop(columns='Attrition_Flag', inplace=True)

/Users/sweathanjasty/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
cust_data_cat.sample()

     Gender Education_Level Marital_Status Income_Category Card_Category
9334      M   Post-Graduate       Divorced     $60K - $80K          Blue

In [8]:
cust_data_cat_dummies = pd.get_dummies(cust_data_cat)

In [9]:
#Need to remove Attrition flag
cust_data_cat_dummies.head()

,Gender_F,Gender_M,Education_Level_College,Education_Level_Doctorate,Education_Level_Graduate,Education_Level_High School,Education_Level_Post-Graduate,Education_Level_Uneducated,Education_Level_Unknown,Marital_Status_Divorced,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
3,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
4,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0

In [10]:
cust_data3 = pd.concat([cust_data_num, cust_data_cat_dummies], axis=1)

In [11]:
X = cust_data3.copy()
y = cust_data2['Attrition_Flag']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [13]:
##Random Forest Classifier

In [14]:
modelRF = RandomForestClassifier()

In [15]:
modelRF.fit(X_train, y_train)

RandomForestClassifier()

In [16]:
predictRF = modelRF.predict(X_test)

In [17]:
print('Random Forest Classifier : \n', classification_report(predictRF, y_test))
print('Random Forest Classifier Accuracy: ', accuracy_score(predictRF, y_test))

Random Forest Classifier :
                    precision    recall  f1-score   support

Attrited Customer       0.78      0.94      0.85       410
Existing Customer       0.99      0.96      0.97      2629

         accuracy                           0.96      3039
        macro avg       0.89      0.95      0.91      3039
     weighted avg       0.96      0.96      0.96      3039

Random Forest Classifier Accuracy:  0.9562356038170451

In [ ]:
#Gradient Boosting Classifier

In [19]:
modelGB = GradientBoostingClassifier()

In [20]:
modelGB.fit(X_train, y_train)

GradientBoostingClassifier()

In [21]:
predictGB = modelGB.predict(X_test)

In [22]:
print('Gradient Boost Classifier : \n', classification_report(predictGB, y_test))
print('Gradient Boost Classifier Accuracy: ', accuracy_score(predictGB, y_test))

Gradient Boost Classifier :
                    precision    recall  f1-score   support

Attrited Customer       0.84      0.94      0.89       441
Existing Customer       0.99      0.97      0.98      2598

         accuracy                           0.97      3039
        macro avg       0.92      0.95      0.93      3039
     weighted avg       0.97      0.97      0.97      3039

Gradient Boost Classifier Accuracy:  0.9657782165185916

In [23]:
print('MAE:', mean_absolute_error(predictGB, y_test) )
print('MSE:', mean_squared_error(predictGB, y_test) )
print('RMSE:', np.sqrt(mean_squared_error(predictGB, y_test) ))

ValueError: could not convert string to float: 'Existing Customer'